body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(228, 227, 225);
}

.header {
  padding: 20px;
  border-bottom: 2px solid #000;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header nav {
  padding-top: 15px;
  margin-top: 50px;
  float: right;
  font-size: 15px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 15px;
}

a {
  color: black;
  text-decoration: none;
}

.hero {
  position: relative;
  height: 100px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(./assets/background-6556393.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.subtitle {
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.container {
  display: flex;
}

aside {
  flex: 0 0 auto; /* Allow the <aside> element to shrink and grow as needed */
  width: 300px; /* Adjust the width as desired */
  background-color: rgb(228, 227, 225); /* Just for visualization */
}

main {
  flex: 1 1 auto; /* Allow the <main> element to take up remaining space */
}
